[submodule "React-Project-Allcca"]
	path = React-Project-Allcca
	url = https://github.com/fabrijoelc/React-Project-Allcca.git
[submodule "aerolinea-api-springboot"]
	path = aerolinea-api-springboot
	url = https://github.com/fabrijoelc/aerolinea-api-springboot.git
[submodule "gestion-academica-api-springboot"]
	path = gestion-academica-api-springboot
	url = https://github.com/fabrijoelc/gestion-academica-api-springboot.git
[submodule "ms-auth"]
	path = ms-auth
	url = https://github.com/fabrijoelc/ms-auth.git
[submodule "ms-config-repository"]
	path = ms-config-repository
	url = https://github.com/fabrijoelc/ms-config-repository.git
[submodule "ms-hexagonal-sunat-openfeign-springboot"]
	path = ms-hexagonal-sunat-openfeign-springboot
	url = https://github.com/fabrijoelc/ms-hexagonal-sunat-openfeign-springboot.git
[submodule "ms-ordenes"]
	path = ms-ordenes
	url = https://github.com/fabrijoelc/ms-ordenes.git
[submodule "ms-productos"]
	path = ms-productos
	url = https://github.com/fabrijoelc/ms-productos.git
[submodule "openfeign-decolecta-reniec-api-springboot"]
	path = openfeign-decolecta-reniec-api-springboot
	url = https://github.com/fabrijoelc/openfeign-decolecta-reniec-api-springboot.git
[submodule "patrones-strategy-adapter-builder-springboot"]
	path = patrones-strategy-adapter-builder-springboot
	url = https://github.com/fabrijoelc/patrones-strategy-adapter-builder-springboot.git
[submodule "restTemplate-reniec-api-springboot"]
	path = restTemplate-reniec-api-springboot
	url = https://github.com/fabrijoelc/restTemplate-reniec-api-springboot.git
[submodule "retrofit-reniec-api-springboot"]
	path = retrofit-reniec-api-springboot
	url = https://github.com/fabrijoelc/retrofit-reniec-api-springboot.git
[submodule "unit-testing-empresa-api-springboot"]
	path = unit-testing-empresa-api-springboot
	url = https://github.com/fabrijoelc/unit-testing-empresa-api-springboot.git
[submodule "webclient-reniec-api-springboot"]
	path = webclient-reniec-api-springboot
	url = https://github.com/fabrijoelc/webclient-reniec-api-springboot.git
[submodule "ms-hexagonal-reniec-openfeign-springboot"]
	path = ms-hexagonal-reniec-openfeign-springboot
	url = https://github.com/fabrijoelc/ms-hexagonal-reniec-openfeign-springboot.git
